/* CSS de home */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 50%;
    text-align: center;
}

.quadro {
    display: block;
    margin: 1rem;
    border-radius: .3rem;
    padding: .5rem;
    box-shadow: 5px 5px 5px grey;
    color: black;
}

.quadro div {
    margin-top: .3rem;
}


/* Primeiro quadro */

.q1 {
    background: rgb(255, 178, 178);
}

.q1 i {
    color: darkred;
}


/* Segundo quadro */

.q2 {
    background: rgb(183, 250, 183);
}

.q2 i {
    color: rgb(0, 78, 0);
}


/* Terceiro quadro */

.q3 {
    background: rgb(252, 252, 148);
}

.q3 i {
    color: rgb(160, 77, 0);
}


/* Quarto quadro */

.q4 {
    background: rgb(187, 217, 241);
}

.q4 i {
    color: rgb(31, 70, 102);
}